{description, "A basic EUnit test file for an OTP application, to be executed at the top-level, inside."}.
{variables, [
    {name, "foo", "The topic or concern of a given test file"}
]}.

{dir, "test"}.
{template, "eunit.erl", "test/{{name}}_test.erl"}.
